.movie-detail {
  position: fixed;
  bottom: 0;

  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  color: white;
  background-color: #111111;
  padding: 15px 20px;
}

.movie-detail__info {
  display: flex;
  flex-direction: column;
}

.movie-detail__info > div {
  border-top: 3px solid white;
}

.movie-detail__info > p {
  font-size: 14px;
  word-spacing: 0.5px;
  font-weight: lighter;
}

iframe {
  border: none;
}

.img-detail {
  width: 100%;
}
